body{
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 20px;
    background-color: #e6ffff;
    }
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;

}
.product-div{
    width: 100px;
    height: max-content;
    border: 1px solid #009999;
    border-radius: 5px;
    display: inline-block;
}
.product-picdiv{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.product-pic{
    width: 75px;
    height: 75px;
    border-radius: 5px;
}
.product-details{
    width: 90%;
    height:20px;
}
.addbut{
    background-color:#e6ffff;
    color: #018686;
    border: 1px solid  #009999;
    font-size: 15px;
    border-radius: 13px;
    display: inline-block;

}
.buynowbut{
     background-color:#027272;;
    color :white;
    border: 1px solid  white; 
    font-size: 10px;
    border-radius: 13px;
    display: inline-block;
    font-size: 17px;


}