body{
    padding-top: 65px;
    padding-left: 10px;
    padding-right:10px;
    background-color:white;
    padding-bottom: 65px;
    position: relative;
     
    }
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 7px;
    row-gap: 7px;
    z-index: 100;

}
.product-div{
    min-width: 100px;
    height: max-content;
    min-height: 300px;
    border: 0;
    border: 1px solid rgb(214, 216, 214);
    border-radius: 10px;
    display: inline-block;
    /* box-shadow: 1px 1px 10px rgb(180, 177, 177); */
}
.product-picdiv{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.product-pic{
    padding-top: 5px;
    width: 95%;
    min-height: 50%;
    border-radius: 5px;
}
.product-details{
   
    display: block;
}
.addbut{
    background: transparent;
    color:#00cc00;
    border: 1px solid #00cc00;
    font-size: 20px;
    border-radius: 13px;
    display: block;
    width: 90%;
    box-shadow: 1px 1px 10px rgb(148, 147, 147);
    margin-top: 10px;
     margin-bottom: 5px;
}
.buynowbut{
    background-color:rgb(234, 179, 0);
    color :black;
    border: 0;
    font-size: 20px;
    border-radius: 13px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px black;
    width:90%;


}
.product-name{
    margin-bottom: 0;
    margin-top: 0;
    font-size: medium;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

}
.product-price{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-bottom: 5px;
}
.order-div{
    justify-items: center;
    align-content: center;
}
@media (max-width:750px){
    .product-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:1000px){
    .product-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
.edit-cont{
    position: absolute;
    width: 85px;
    height: 70px;
    border: 1px solid rgb(182, 178, 178);
    border-radius: 4px;
    left: 0;
    top:45px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0px 0px 5px black;
    opacity: 0;
}
.filter-cont{
    position: absolute;

}
.for-buttom{
    width: 100%;

}
.ebut1{
    background-color:  rgb(9, 9, 119);
    border: 0;
    color: white;
    border-radius: 3px;
    height:25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: inset 0px 0px 5px gray,0px 0px 5px gray;
    width: 100%;
}
.ebut2{
    background-color: red;
    border: 0;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 0px 5px black;

    
}

/* }buynow #026161*/
/*  add to card #048989*/
/* product-div  #009999;*/
/* background-color  #e6ffff; */