body{
    padding-top: 65px;
    padding-left: 70px;
    padding-right:0;
    background-color:white;
    padding-bottom: 65px;
     
    }
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 7px;
    row-gap: 7px;
    z-index: 100;

}
.product-div{
    min-width: 98px;
    height: max-content;
    min-height: 300px;
    border: 0;
    border: 1px solid rgb(214, 216, 214);
    border-radius: 10px;
    display: inline-block;
    /* box-shadow: 1px 1px 10px rgb(180, 177, 177); */
}
.product-picdiv{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.product-pic{
    padding-top: 5px;
    width: 95%;
    min-height: 50%;
    border-radius: 5px;
}
.product-details{
   
    display: block;
}
.addbut{
    background-color: white;
    color:#00cc00;
    border: 1px solid #00cc00;
    font-size: 20px;
    border-radius: 13px;
    display: block;
    width: 90%;
    box-shadow: 1px 1px 10px rgb(148, 147, 147);
    margin-top: 10px;
     margin-bottom: 5px;
}
.buynowbut{
    background-color:rgb(234, 179, 0);
    color :black;
    border: 1px solid rgb(180, 177, 177); 
    font-size: 20px;
    border-radius: 13px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px black;
    width:90%;


}
.product-name{
    margin-bottom: 0;
    margin-top: 0;
    font-size: medium;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

}
.product-price{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-bottom: 5px;
}
.order-div{
    justify-items: center;
    align-content: center;
}
@media (max-width:750px){
    .product-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:1000px){
    .product-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
/* }buynow #026161*/
/*  add to card #048989*/
/* product-div  #009999;*/
/* background-color  #e6ffff; */