.header
{
   position: fixed;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    flex-direction: row;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#e62e00; 
    color: white;           
            
                
    }
.user-profile{
    border: 1px solid white;
    text-align: center;
    }
.rightflex{
    right: 0;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-family: fantasy;
    font-size: 5px;
}
.leftflex{
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: #e62e00;
    font-family: fantasy;
    font-size: 34px;
    -webkit-text-stroke: 0.7px white;
    

}
.user-profile{
    display: flex;
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    margin-left: 2px;

}
.user-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    }
.profileph{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    }
.middleflex{
    display: flex;
    flex:1;
    justify-content: center;

}
.sreachbar{
    max-width: 600px;
    min-width: 20px;
        height: 25px;
        border-radius: 15px;
        border: 0px solid white;
        box-shadow: inset 0.5px 0.5px 2px gray,1px 1px 2px gray;
        margin-right: 7px;
        margin-left: 7px;
        width: 0;
        flex: 1;

    }
/*  background-color #009999; */
