.header
{
   position: fixed;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    flex-direction: row;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#e62e00; 
    color: white;           
            
                
    }
.user-profile{
    text-align: center;
    justify-content: center;
    align-items: center;
    }
.rightflex{
    right: 0;
    display: flex;
    justify-content: space-between;
    font-family: fantasy;
    font-size: 5px;
    width: 0;
    flex: 2;
    align-items: center;
}
.leftflex{
    min-width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: #e62e00;
    font-family: fantasy;
    font-size: 34px;
    -webkit-text-stroke: 0.7px white;
    width: 0;
    min-width: max-content;
    flex: 1;
    

}
.user-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    margin-left: 2px;
    

}
.user-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 2px;
    min-width: max-content;
    }

.profileph{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 2px solid white;
    }
.middleflex{
    display: flex;
    flex:1;
    justify-content: center;

}
.sreachbar{
    max-width: 600px;
    min-width: 20px;
        height: 25px;
        border-radius: 15px;
        border: 0px solid white;
        box-shadow: inset 0.5px 0.5px 2px gray,1px 1px 2px gray;
        margin-right: 5px;
        margin-left: 5px;
        width: 0;
        flex: 1;

    }
    .log-out-div{
        display: flex;
    }
    .log-out-button{
        background-color: black;
        border: 0;
        color: white;
        border-radius: 4px;
        height: 25px;
        width: 55px;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 10px;
        text-align: center;
        font-weight: bold;
        margin: 3px;
        

    }
/*  background-color #009999; */
