.side-menu{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    border: 1px solid rgb(216, 214, 214);
    
    border-top: 0;
}
.user-prof{
    margin-top: 5px;
    width: 100%;
    height: 25px;
    border-radius: 3px;
    border: 1.5px solidrgb(216, 214, 214)
    justify-content: center;
    align-items: center;
    justify-items: center;
    color: rgb(216, 214, 214);
}
.user-prof2{
    display: inline-block;
}  
.user-pic{
    width: 20px;
    height: 100%;


}
.nameof{
    padding: 0;
    margin:0;
    font-size: smaller;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.name-prof{
    display: inline-block;
    margin-top: 0;
    align-items: center;
}
.department,.styear,.ndyear,.rdyear,.thyear{
    font-size: smaller;
    border: 1px solid rgb(105, 100, 100);
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(105, 100, 100);
    margin-left: 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}